.logo {
  width: 50px;
  height: 50px;
}

.main-heading {
  font-size: 6rem;
}

.instagram {
  transition: color 150ms ease-in-out;
}

.instagram:hover {
  color: hotpink;
  cursor: pointer;
}

.coordinators > div {
  width: calc(100% / 3.5);
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.coordinators > div:hover {
  box-shadow: 5px 5px 2px 1px blue !important;
  scale: 1.05;
}

.coordinators > div > a:hover {
  background-color: aliceblue !important;
  transition: background-color 500ms ease-in-out !important;
}

.header-container {
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2rem;
  }

  .coordinators > div {
    width: 100%;
    margin-top: 1rem;
  }

  .coordinators > div:hover {
    scale: 1;
  }
}
